<body class="profiles-edit container" id="edit-profile-game-searchbox">
  <h1 class="text-white text-center mt-5"><strong>Editer mon profile</strong></h1>

  <!-- Card color -->
  <% color = ["#ec6b9e", "#6fb5d9", "#9683fe"] %>
  <% counter = 0 %>
  <%= render 'caroussel_game_card' unless devise_controller? %>

  <h3 class="mt-5">Ajoute tes comptes</h3>
  <div class="d-flex justify-content-center">
    <%= render 'shared/platform_card', user: @user %>
  </div>

  <h3 id="friends" class="mt-5">Invite tes amis</h3>
    <%= render 'search_friends' unless devise_controller? %>


    <!-- FRIENDS : to add some front -->
    <div class="d-flex justify-content-center scroll-bar">
      <% @users.each do |user| %>
        <%= link_to user_path(user), :class => "text-decoration-none d-flex" do %>

            <div class="card-search" style="background-color:<%= color[counter] %>">
              <div class="banner">

                <!-- see if there are friends -->
                <% friends = [] %>
                <% current_user.friends.each do |friend| %>
                  <% friends << current_user_friend(friend, current_user)%>
                <% end %>

                <% if friends.include?(user) %>
                  <p>Amis</p>
                <% else %>

                  <!-- bug : ajax is not set perfectly here, todo : set user-id dynamiccaly -->
                  <div id="user">
                    <%= simple_form_for @friend, url: friends_path, method: :post, remote: true do |f| %>
                      <%= f.input :user2_id, :as => :hidden, input_html: { value: user.id }  %>
                      <%= hidden_field_tag :source, 'profile-edition' %>
                      <%= f.submit "Ajouter"%>
                    <% end %>
                  </div>
                <% end %>
                <div class="mx-5 mb-5 d-flex justify-content-center">
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, class: "avatar-search" %>
                  <% end %>
                </div>
              </div>
                <!-- avatar -->

              <% counter += 1 %>
              <% if counter >= 3 %>
                <% counter = 0 %>
              <% end %>

              <div class=" info-user mx-3">
                <p><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></p>
                <!-- <p><%= user.bio %></p> -->
              </div>

            </div>
        <% end %>
      <% end %>
    </div>

  <div class="d-flex justify-content-center my-3">
    <!-- SEE THE PATH -->
    <%= link_to "Terminer", user_path(@user), :class => "btn-flat my-3" %>
  </div>
</body>
