<!-- Back-end : done -->
<!-- Front-end : todo (to be inspired with feed-cards) -->

<h2 class="mt-5 ml-5 mb-3 ">Mes amis</h2>
<% color = [ "#8EB8E5","#ed7071","#848ccf"] %>
<% counter = 0 %>
<!-- Friends of current user -->
<% @friends.each do |friend| %>

  <div class="friends-card container">
    <div class="row">
      <div class="friend-card d-flex flex-row", style="background-color:<%= color[counter] %>" >

        <div class="friend-card-name flex-column col-5 pt-3">
          <%= link_to user_path(current_user_friend(friend, current_user)), :class => "friend-name text-decoration-none" do %>
          <!-- avatar -->
            <%= cl_image_tag current_user_friend(friend, current_user).photo.key, alt: "alttext", :class => "avatar-game" %>
            <!-- first and last name -->
            <%=  current_user_friend(friend, current_user).first_name.capitalize %>
            <%=  current_user_friend(friend, current_user).last_name.capitalize %>
          <% end %>

          <div class="friend-platform-cards ">
            <div class="friend-platform-card pb-2">

              <% if %>
                <% current_user_friend(friend, current_user).steam_username.blank?%>
                <%= " " %>
               <% else %>
                <%= image_tag "steam.png", height: 30, width: 30, crop: :fill%>
                <%= current_user_friend(friend, current_user).steam_username%>
              <% end %>
            </div>

            <div class="friend-platform-card pb-2">
              <% if %>
                <% current_user_friend(friend, current_user).psn_username.blank?%>
                <%= " " %>
               <% else %>
              <%= image_tag "psnetwork.png", height: 30, width: 30, crop: :fill%>
              <%= current_user_friend(friend, current_user).psn_username%>
              <% end %>
            </div>
            <div class="friend-platform-card pb-2">
              <% if %>
                <% current_user_friend(friend, current_user).xboxlive_username.blank?%>
                <%= " " %>
               <% else %>
              <%= image_tag "xboxGreen.png", height: 30, width: 30, crop: :fill%>
              <%= current_user_friend(friend, current_user).xboxlive_username%>
              <% end %>
            </div>
          </div>
        </div>
          <!-- each games -->
        <div class="friend-game-cards row col-6 pt-1">

            <% current_user_friend(friend, current_user).games.each do |game| %>
            <div class="friend-game-card col pb-1">
              <%= cl_image_tag game.photo.key, alt: "alttext" %>
              <%= game.name %>
              <br>
            </div>
          <% end %>
        </div>

          <!-- platforms -->


      </div>
    </div>

    <% counter += 1 %>
    <% if counter >= 3 %>
      <% counter = 0 %>
  <% end %>
  </div>
<% end %>
