<!-- Back-end : done -->
<!-- Front-end : todo (to be inspired with feed-cards) -->

<h2 class="m-4">Mes amis</h2>
<% color = ["#9683fe", "#6fb5d9", "#ec6b9e"] %>
<% counter = 0 %>
<!-- Friends of current user -->
<% @friends.each do |friend| %>

  <div class="friends-card container">
    <div class="row">
      <div class="friend-card d-flex flex-row", style="background-color:<%= color[counter] %>" >

        <div class="friend-card-name col-4 mr-1">
          <%= link_to user_path(current_user_friend(friend, current_user)), :class => "text-decoration-none" do %>
          <!-- avatar -->
            <%= cl_image_tag current_user_friend(friend, current_user).photo.key, alt: "alttext", :class => "avatar-game" %>

            <!-- first and last name -->
            <%=  current_user_friend(friend, current_user).first_name.capitalize %>
            <%=  current_user_friend(friend, current_user).last_name.capitalize %>
          <% end %>
          <br>
        </div>

          <!-- each games -->
        <div class="friend-game-card col-5 pb-1">

          <% current_user_friend(friend, current_user).games.each do |game| %>
            <%= cl_image_tag game.photo.key, alt: "alttext" %>
            <%= game.name %>
            <br>
          <% end %>
        </div>

          <!-- platforms -->
        <div class="friend-platform-card col">
          <%= image_tag "steam.png", height: 55, width: 55, crop: :fill%>
          <%= current_user_friend(friend, current_user).steam_username%>
          <br>
          <br>
          <%= image_tag "psnetwork.png", height: 55, width: 55, crop: :fill%>
          <%= current_user_friend(friend, current_user).psn_username%>
          <br>
          <br>
          <%= image_tag "x-box.png", height: 55, width: 55, crop: :fill%>
          <%= current_user_friend(friend, current_user).xboxlive_username%>
        </div>

      </div>
    </div>

    <% counter += 1 %>
    <% if counter >= 3 %>
      <% counter = 0 %>
  <% end %>
  </div>
<% end %>
