
<div id="show-container" class="container">

  <div class="profile-pic mx-auto">
    <br>
  <%= cl_image_tag @user.photo.key, class: "avatar-xl mb-4 justify-content-center" %>
  <h3><%= @user.first_name.capitalize  %> <%= @user.last_name.capitalize  %></h3>
  <br>
  </div>
  <br>
  <h5 class="border-bottom border-secondary p-2 pr-1 pl-1"><%= @user.bio %> </h5>
  <br>
  <!-- Edit my profile -->
  <div class="text-center">
    <% if @user == current_user %>
      <%= link_to "Editer mon profil", edit_profile_path, :class => "btn btn-flat" %>
    <% end %>
  </div>

  <!-- Add friend button -->
  <div class="text-right">
    <!-- see if there are friends -->
    <% friends = [current_user] %>
    <% current_user.friends.each do |friend| %>
      <% friends << current_user_friend(friend, current_user)%>
    <% end %>

    <% if friends.include?(@user) %>

      <% if @user != current_user %>
        <div class="d-flex align-items-center justify-content-end">
          <p class="text-success font-weight-bold m-0 mr-2">Amis</p>
          <i class="fas fa-check text-success"></i>
        </div>
      <% end %>

    <% else %>
    <!-- bug : ajax is not set perfectly here, todo : set user-id dynamiccaly -->
      <div id="user">

        <%= simple_form_for @friend, url: friends_path, method: :post, remote: true do |f| %>
        <%= f.input :user1_id, :as => :hidden, input_html: { value: current_user.id }  %>
        <%= f.input :user2_id, :as => :hidden, input_html: { value: @user.id }  %>
        <%= f.submit "Ajouter" %>
        <% end %>

      </div>

    <% end %>
  </div>

  <br>
  <h2 class="text-left">Jeux préférés</h2>
  <%= render 'shared/game_card', user_games: @user_games %>

  <h2> Comptes favoris </h2>
  <%= render 'shared/platform_card', user: @user %>

</div>


<% content_for :meta_title, "#{@user.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.bio %>
<% content_for :meta_image, cl_image_path(@user.photo) %>
