
<div id="show-container" class="container">

  <div class="profile-pic mx-auto">
    <br>
  <%= cl_image_tag @user.photo.key, class: "avatar-xl mb-4 justify-content-center" %>
  <h3><%= @user.first_name.capitalize  %> <%= @user.last_name.capitalize  %></h3>
  <br>
  </div>
  <br>
  <h5 class="border-bottom border-secondary p-2 pr-1 pl-1"><%= @user.bio %> </h5>
  <br>
  <h2 class="text-left">Jeux préférés</h2>
  <%= render 'shared/game_card', user_games: @user_games %>
  <% if @user == current_user %>
  <% end %>

  <h2> Comptes favoris </h2>
  <%= render 'shared/platform_card', user: @user %>

</div>
