
<div id="show-container" class="container">
  <% pic = ["https://source.unsplash.com/k4Akpt5-Sfk/1000x400", "https://source.unsplash.com/nCU4yq5xDEQ/1000x400", "https://source.unsplash.com/m3hn2Kn5Bns/1000x400","https://source.unsplash.com/Ei5d39YRrgY/1000x400","https://source.unsplash.com/3mWxKnqET3E/1000x400", "https://source.unsplash.com/9AmKnNZw3GA/1000x400", "https://source.unsplash.com/nmTm7knUnqs/1000x400"] %>


  <div class="profile-pic mx-auto", style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(<%= pic.sample %>)" >
    <%= cl_image_tag @user.photo.key, class: "avatar-xl mb-4 justify-content-center" %>
    <h3 class="profile-name"><%= @user.first_name.capitalize  %> <%= @user.last_name.capitalize  %></h3>
  </div>
    <h5 class="border-bottom border-secondary p-2 pr-1 pl-1"><%= @user.bio %> </h5>
  <!-- Edit my profile -->
  <div class="text-center">
    <% if @user == current_user %>
      <%= link_to "Editer mon profil", edit_profile_path, :class => "btn btn-flat" %>
    <% end %>
  </div>

  <!-- Add friend button -->
  <div class="text-right">
    <!-- see if there are friends -->
    <% friends = [current_user] %>
    <% current_user.friends.each do |friend| %>
      <% friends << current_user_friend(friend, current_user)%>
    <% end %>

    <% if friends.include?(@user) %>

      <% if @user != current_user %>
        <div class="d-flex align-items-center justify-content-end">
          <p class="text-success font-weight-bold m-0 mr-2">Amis</p>
          <i class="fas fa-check text-success"></i>
        </div>
      <% end %>

    <% else %>
    <!-- bug : ajax is not set perfectly here, todo : set user-id dynamiccaly -->
      <div id="user">

        <%= simple_form_for @friend, url: friends_path, method: :post, remote: true do |f| %>
        <%= f.input :user2_id, :as => :hidden, input_html: { value: @user.id }  %>
        <%= f.submit "Ajouter", class: "btn btn-flat" %>
        <% end %>

      </div>

    <% end %>
  </div>

  <br>
  <h2 class="my-3">Jeux préférés</h2>

  <%= render 'shared/game_card', user_games: @user_games %>

  <h2 class="my-3"> Comptes favoris </h2>
  <%= render 'shared/platform_card', user: @user %>

</div>


<% content_for :meta_title, "#{@user.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.bio %>
<% content_for :meta_image, cl_image_path(@user.photo) %>
