<div class="sidenav">

    <%= link_to root_path do %>
    <%= image_tag "logomg.png" %>
    <% end %>

    <%= link_to root_path do %>
    <i class="fas fa-house-user mr-2"></i>
    <% end %>

    <%= link_to events_path do %>
    <i class="far fa-calendar-alt mr-2"></i>
    <% end %>

    <%= link_to friends_path do %>
    <i class="fas fa-user-friends"></i>&nbsp;
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt"></i>&nbsp;
    <% end %>
</div>
