<div class="sidenav">
    <%= link_to root_path do %>
    <%= image_tag "logomg.png" %>
    <h1 class="title"> My Games </h1>
    <% end %>


   <% if params["controller"] == "pages" && params["action"] == "home" %>
      <%= link_to root_path do %>
      <i class="fas fa-house-user mr-2 active-link"></i>
      <% end %>
      <% else  %>
      <%= link_to root_path do %>
      <i class="fas fa-house-user mr-2"></i>
      <% end %>
    <% end %>

    <% if params["controller"] == "events" && params["action"] == "index" %>
        <%= link_to events_path do %>
        <i class="far fa-calendar-alt mr-2 active-link"></i>
        <% end %>
      <% else %>
        <%= link_to events_path do %>
        <i class="far fa-calendar-alt mr-2"></i>
      <% end %>
    <% end %>

    <% if params["controller"] == "friends" && params["action"] == "index" %>
        <%= link_to friends_path do %>
        <i class="fas fa-user-friends active-link"></i>&nbsp;
      <% end %>
      <% else %>
        <%= link_to friends_path do %>
        <i class="fas fa-user-friends"></i>&nbsp;
      <% end %>
    <% end %>


    <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);"></i>&nbsp;
    <% end %>
</div>
