<nav class="platform">
<div id="platform-card-container" class="container">


    <div class="cards-platform">
      <div class="card-platform ">
        <%= image_tag "steam.png", height: 130, width: 200, crop: :fill%>
        <div class="card-platform-body">
          <h3> Steam </h3>
          <% if user.steam_username %>
              <%= user.steam_username %>
            <% else %>
              <%= simple_form_for(user) do |f| %>
              <%= f.input :steam_username, placeholder: "Username", input_html: {class: "platform-input rounded-pill mb-2"} %>
              <%= f.button :submit, "Ajouter", :class => "btn btn-primary rounded-pill" %>
              <%= link_to "", user_path(user), method: :patch %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card-platform ">
        <%= image_tag "psnetwork.png", height: 130, width: 200, crop: :fill%>
        <div class="card-platform-body">
          <h3>PS Network</h3>
          <% if user.psn_username %>
              <%= user.psn_username %>
            <% else %>
              <%= simple_form_for(user) do |f| %>
              <%= f.input :psn_username, placeholder: "Username", input_html: {class: "platform-input rounded-pill mb-2"} %>
              <%= f.button :submit, "Ajouter", :class => "btn btn-primary rounded-pill" %>
              <%= link_to "", user_path(user), method: :patch %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card-platform ">
        <%= image_tag "x-box.png", height: 130, width: 200, crop: :fill%>
        <div class="card-platform-body">
          <h3>Xbox Live</h3>
            <% if user.psn_username %>

            <% else %>
              <%= simple_form_for(user) do |f| %>
              <%= f.input :psn_username, placeholder: "Username", input_html: {class: "platform-input rounded-pill mb-2"} %>
              <%= f.button :submit, "Ajouter", :class => "btn btn-primary rounded-pill" %>
              <%= link_to "", user_path(user), method: :patch %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

</div>
</nav>
