<div id="sidebar">
  <div class="row justify-content-end">
    <!-- work on the syle that is on the name of the user -->
    <%= link_to user_path(current_user), :class => "text-decoration-none" do %>
      <p class="my-4 sidebar-name"><%=  current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></p>
      <%= image_tag current_user.photo, :class => "avatar-sidebar", alt: "user avatar" %>
    <% end %>

  </div>

  <br>
  <H3 class="mx-3">Mes Amis</H3>
  <hr>
  <br>
  <% current_user_first_3_friends.each do |friend| %>

<div class="mx-5 my-4">

  <% if  Friend.where(user1: current_user) != []%>
    <%= link_to user_path(friend.user2.id), :class => "text-decoration-none" do %>

      <% if friend.user2.photo.attached? %>
      <%= cl_image_tag friend.user2.photo.key, class: "avatar-large mr-3" %>
      <% end %>
      <%= friend.user2.first_name.capitalize %> <%= friend.user2.last_name.capitalize %>
    <% end %>

  <% else %>
    <%= link_to user_path(friend.user1.id), :class => "text-decoration-none" do %>

      <% if friend.user1.photo.attached? %>
      <%= cl_image_tag friend.user1.photo.key, class: "avatar-large mr-3 text-decoration-none" %>
      <% end %>
      <%= friend.user1.first_name.capitalize %> <%= friend.user1.last_name.capitalize %>
    <% end %>

  <% end %>

</div>
<% end %>

  <br>
  <H3 class="mx-3">Événement</H3>
  <hr>
  <br>

  <div class="card-sidebar-container">
    <div class="card-sidebar">
      <img class="card-sidebar img" src="https://lh3.googleusercontent.com/tjFx_uPUU3sOZxujIupK-DHCmJwbhBzUse6c80tTSqeSLeNILqHm7xo6uaEXrEEFm-aQkvFnS5BZmZhE5CRCqTgm" />
      <div class="card-sidebar-infos">
        <h2>Gagner contre Manchester</h2>
        <p ><strong class="card-sidebar-date">10 Aout</strong><strong> 19h00 / 23h00</strong></p>
        <a class="btn-accept" href="#">Accepter</a>
        <a class="btn-decline" href="#">Refuser</a>
      </div>
    </div>

    <div class="card-sidebar">
      <img class="card-sidebar img" src="https://lh3.googleusercontent.com/tjFx_uPUU3sOZxujIupK-DHCmJwbhBzUse6c80tTSqeSLeNILqHm7xo6uaEXrEEFm-aQkvFnS5BZmZhE5CRCqTgm" />
      <div class="card-sidebar-infos">
        <h2>Gagner contre Manchester</h2>
        <p ><strong class="card-sidebar-date">10 Aout</strong><strong> 19h00 / 23h00</strong></p>
        <a class="btn-accept" href="#">Accepter</a>
        <a class="btn-decline" href="#">Refuser</a>
      </div>
    </div>

  </div>
</div>
