<div class="d-flex justify-content-between align-items-center ml-3">
  <h2 class="m-4">Mes événements</h2>
  <%= link_to "Créer un événement", new_event_path, :class => "btn-event mr-4" %>
</div>

<!-- month in french -->
<% months = ["Janv", "Fev", "Mars", "Avr", "Mai", "Juin", "Juill", "Août", "Sept", "Oct", "Nov", "Dec"] %>
<% counter = 0 %>

<!-- Card color -->
<% color = ["#848ccf", "#ed7071", "#d49a89"] %>


<% @events.each do |event| %>

  <div class="feed-card d-flex justify-content-between", style="background-color:<%= color[counter] %> ">

    <div>

      <div class="d-flex align-items-center">

        <div>
          <!-- Avatar -->
          <%= image_tag event.user.photo, alt: event.user.first_name, :class => "avatar-large m-1" %>
        </div>

        <div>
          <!-- Name -->
            <label class="ml-3"><strong><%= event.user.first_name.capitalize %> <%= event.user.last_name.capitalize  %> </strong>a lancé un événement <strong><%= event.game.name %></strong> </label>
        </div>

      </div>


      <!-- Date -->
      <div class="d-flex mt-2">
        <!-- month -->
        <div class="mt-3 mr-3 bg-light text-dark rounded font-weight-bold game-calendar-card">
          <p><%= event.start_at.day %></p>
          <p><%= months[event.start_at.month.to_i - 1] %></p>
        </div>
        <!-- hours -->
        <div class="mt-2">
            <!-- Objectif -->
            <p>Objectif : <%= event.description %></p>
            <p><%=  event.start_at.hour%>h / <%=event.end_at.hour %>h </p>
        </div>
      </div>

      <!-- Participants -->
      <div class="mt-3 ml-0 participants d-flex">
        <% event.participations.each do |participation| %>
          <div>
            <%= image_tag participation.user.photo, alt: participation.user.first_name, :class => "avatar participant-event" %>
          </div>
            <div class="position-status">
              <% if participation.status == "accepted" %>
                <i class="fas fa-check participation-status-accepted"></i>
              <% elsif participation.status == "declined" %>
                <i class="fas fa-times participation-status-declined"></i>
              <% else %>
                <p class="participation-status-pending"><strong>?</strong></p>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>

      <div>
        <%= image_tag event.game.photo, alt: event.game.name, width: 300, height: 200, crop: :fill, :class => "feed-card-img"%>

        <!-- revoir le format de la date -->
        <p class="text-right mr-3 font-italic">il y a
          <% if %>
          <% (Time.now - event.created_at).to_i / (24) < 60 %>
          <%= (Time.now - event.created_at).to_i / (24)%> minutes
          <% else %>
          <%= (Time.now - event.created_at).to_i / (24 * 60) %> heure(s)
          <% end %> </p>
      </div>


    </div>

    <% counter += 1 %>
    <% if counter >= 3 %>
      <% counter = 0 %>
    <% end %>

<% end %>
