
   <div>
      <div>
        <h2 class="m-4">Créer un événement</h2>
      </div>


      <%= simple_form_for(@event) do |f| %>
        <%= f.error_notification %>
      <div>
        <h3 class="m-4">1 - Sélectionner un jeu</h3>

          <%= render 'shared/game_card_new_event', user_games: @user_games %>
      </div>

      <div>
        <h3 class="m-4">2 - Configurer l'événement</h3>
      </div>

      <div class="container">

        <div class="date-card-event d-flex log-sign-wall">

          <!-- Selected Game -->
          <div class="d-flex justify-content-start flex-column card-game game-selected m-0 mt-2", style="box-shadow: none">
              <%= image_tag @user_games.first.game.photo, height: 150, width: 230, crop: :fill%>
                <h3><%= @user_games.first.game.name %></h3>
          </div>

          <div class="d-flex justify-content-end ml-5">
            <div class="mt-2">
                <%= f.input :description, label: "Objectif de l'évènement", required: true, autofocus: true, input_html: { autocomplete: "email", class: "event-box-obj" } %>
                <div class="input-date-event">
                  <div>
                    <%= f.input :start_at, label: "date de début", required: true, autofocus: true, input_html: { autocomplete: "start_at", class: "event-box-date" } %>
                  </div>
                  <div>
                    <%= f.input :end_at, label: "date de fin", required: true, autofocus: true, input_html: { autocomplete: "end_at", class: "event-box-date" } %>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <h3 class="m-4">3 - Inviter des amis</h3>
      </div>

      <div class="container">
        <div class="invite-card-event d-flex invite-card-bg">

            <div class="d-flex align-items-center">
              <% current_user.friends.each do |friend| %>
                <input type="checkbox" class="hidden d-none" value="<%= current_user_friend(friend, current_user).id %>" name="participant_ids[]" id="participant_ids_<%= current_user_friend(friend, current_user).id %>">
                <label for="participant_ids_<%= current_user_friend(friend, current_user).id %>" class="select-friend-event">
                  <div class="parent-friend">
                    <%= image_tag current_user_friend(friend, current_user).photo, alt: current_user_friend(friend, current_user).first_name, :class => "avatar event-friend-size" %>
                    <div class="superpose-invite mt-9">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </label>
              <% end %>
            </div>
      </div>

      <div class="btn-create-event">
       <%= f.button :submit, "Créer un évènement", class: "btn btn-flat my-4" %>
      </div>

    <% end %>
   </div>
